.posts-container {
    margin: 10px;
    
}

.posts-container > h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-shadow: -2px 2px 1px skyblue;
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    align-items: center;
}

.post {
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background: skyblue;
    box-shadow: -3px 3px 5px black;

    .post-title {
        font-size: 22px;
        font-weight: bold;
        padding: 10px;
        color: black;
    }

    .post-title-link {
        text-decoration: none;
    }

    .post-title-link:hover {
        text-shadow: 0 0 5px purple;
    }
}

.topic-title, .likes-title {
    font-weight: bold;
}

.post > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid rgb(3, 135, 187);
}

.post-filter {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;

    .post-filter-dropdown {
        display: flex;
   
       .topic-dropdown {
        margin: 5px;
        background: skyblue;
        border-radius: 5px;
        border: 2px solid black;
       }
    }

    .post-title-search {
        display: flex;

        .title-search {
            margin: 5px;
            background: skyblue;
            border-radius: 5px;
            border: 2px solid black;
        }
    }
}


.post-filter-dropdown > p {
    margin: 5px;
    font-weight: bold;
    text-shadow: 0 0 3px skyblue;
}

.post-title-search > p {
    margin: 5px;
    font-weight: bold;
    text-shadow: 0 0 3px skyblue;
}

.post-details {
    background: skyblue;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    box-shadow: -3px 3px 5px black;
    padding: 20px;
    justify-items: center;
}

section.post-details {
    margin: 50px;
}

.post-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 3rem;
    color: black;
    text-align: center;
    padding: 20px;
    text-shadow: -2px 2px 1px rgb(3, 135, 187);
}

.post-body {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(3, 135, 187);
    padding: 20px;
    margin: 10px;
    width: 900px;
}

.post-info {
    display: flex;
    padding: 10px;
}

.post-info-title {
    font-weight: bold;
    padding: 5px;
}

section.post-details div {
    padding: 20px;
}

.btn {
    background-color: rgb(3, 135, 187);
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding: 8px;
    margin: 10px;
}

.btn:hover {
    box-shadow: 0 0 10px purple;
}

.new-post-form {
    background: skyblue;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    box-shadow: -3px 3px 5px black;
    padding: 20px;
    justify-items: center;
    margin: 50px;
}

.new-body {
   width: 500px;
   height: 25px;
   border: 2px solid black;
   border-radius: 5px;
   margin: 10px;
   padding: 5px;
}

.new-title, .topic-dropdown {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.author-link {
    text-decoration: none;
    color: black;  
    text-shadow: 0 0 3px rgb(3, 135, 187);  
}

.author-link:hover {
    color: purple;
}

