.posts-container {
    margin: 10px;
    
}

.posts-container > h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-shadow: -2px 2px 1px skyblue;
}

.posts {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.post {
    margin: 20px;
    padding: 20px;
    width: 800px;
    border: 3px solid black;
    border-radius: 10px;
    background: skyblue;
    box-shadow: -3px 3px 5px black;

    .post-title {
        font-size: 22px;
        font-weight: bold;
        padding: 10px;
    }
}

.post > footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 2px solid rgb(3, 135, 187);
    
    .post-likes {
        padding-left: 40px;
    }
}

.post-filter {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;

    .post-filter-dropdown {
        display: flex;
   
       .topic-dropdown {
        margin: 5px;
        background: skyblue;
        border-radius: 5px;
        border: 2px solid black;
       }
    }

    .post-title-search {
        display: flex;

        .title-search {
            margin: 5px;
            background: skyblue;
            border-radius: 5px;
            border: 2px solid black;
        }
    }
}


.post-filter-dropdown > p {
    margin: 5px;
    font-weight: bold;
    text-shadow: 0 0 3px skyblue;
}

.post-title-search > p {
    margin: 5px;
    font-weight: bold;
    text-shadow: 0 0 3px skyblue;
}



