.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: skyblue;
    margin: 0;
    width: 100%;
    padding: 15px;
    border-bottom: 3px solid black;
    font-weight: bold;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: black;
  }

  .navbar-link {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    text-shadow: 0 0 5px purple;
  }